$green: rgb(3, 54, 59);
$beige: rgb(237, 226, 187);
$brown: rgb(117, 83, 58);
$lavander: rgb(228, 160, 255);
// $lavander: #b81ecd;
// $lavander: #e5cfee;
$hero-btn-gradient: linear-gradient(90deg, #d900d9 0%, #7700ff 100%);
// $miro-color: #e5cfee; 